body{
    background-color: white;
}

input{
    height:20px;
  }
  
  button{
    height: 26px;
    margin-left: -2px;
    background-color: #2e70c4;
    color: white;
    border: solid 1px #2e70c4;
    border-radius: 0 13px 13px 0;
    padding: 0 15px;
  }

  button[disabled]{
      background-color:#99afcc;
  }